<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.MvMapper">
  <resultMap id="BaseResultMap" type="com.lanqiao.model.Mv">
    <id column="mvid" jdbcType="INTEGER" property="mvid" />
    <result column="mvname" jdbcType="VARCHAR" property="mvname" />
    <result column="mlocation" jdbcType="VARCHAR" property="mlocation" />
    <result column="mimg" jdbcType="VARCHAR" property="mimg" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="mvreserve" jdbcType="VARCHAR" property="mvreserve" />
    <association property="singer" javaType="com.lanqiao.model.Singer" resultMap="BaseResultMap2" />
    
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="com.lanqiao.model.Singer">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="simg" jdbcType="VARCHAR" property="simg" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="sreserve" jdbcType="VARCHAR" property="sreserve" />
    <result column="sreserve2" jdbcType="VARCHAR" property="sreserve2" />
    
  </resultMap>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mv
    where mvid = #{mvid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanqiao.model.Mv">
    insert into mv (mvid, mvname, mlocation, 
      mimg, sid, mvreserve
      )
    values (#{mvid,jdbcType=INTEGER}, #{mvname,jdbcType=VARCHAR}, #{mlocation,jdbcType=VARCHAR}, 
      #{mimg,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, #{mvreserve,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanqiao.model.Mv">
    update mv
    set mvname = #{mvname,jdbcType=VARCHAR},
      mlocation = #{mlocation,jdbcType=VARCHAR},
      mimg = #{mimg,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER},
      mvreserve = #{mvreserve,jdbcType=VARCHAR}
    where mvid = #{mvid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mvid, mvname, mlocation, mimg, sid, mvreserve
    from mv
    where mvid = #{mvid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mvid, mvname, mlocation, mimg, sid, mvreserve
    from mv
  </select>
  
  <select id="selectMvCountBysid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) MvCount from mv where mv.sid=#{mid,jdbcType=INTEGER}
</select>
  <select id="selectAllmv" resultMap="BaseResultMap">
    select t1.mvid,t1.mvname,t1.mlocation,t1.mimg,t2.sname,t2.type from mv t1,singer t2 where t1.sid =t2.sid
  </select>
  <select id="selectLocalmv" resultMap="BaseResultMap" parameterType="com.lanqiao.model.Singer">
   select t1.mvid,t1.mvname,t1.mlocation,t1.mimg,t2.sname,t2.type ,t1.mvreserve
	from mv t1,singer t2 where t1.sid =t2.sid and type =#{type,jdbcType=VARCHAR}
	
  </select>
  <select id="selectStypemv" resultMap="BaseResultMap" parameterType="com.lanqiao.model.Mv">
   select mvid,mvname,mlocation,mimg,mvreserve
	from mv  where  mvreserve =#{mvreserve,jdbcType=VARCHAR}
  </select>
</mapper>